<div class="basket-container">
    <div *ngFor="let e of Baskets ; let i = index" class="basket-block">
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header class="sectional-heading" (click)="expansionPanelIndex(i)"
                    [style.background]="selectedIndex == i ? '#F0FFFF' : '#ffffff'">

                    <mat-panel-title>
                        {{e.investmentLOB}}
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <div class="mat-table-container">
                    <mat-card class="mat-card-section-style">

                        <mat-card-content class="mat-card-content-section-style">
                            <div class="table-container">
                               
                           
                                 <div class="table-header">
                                    <div class="item-width">
                                        <div>
                                            Line of Business
                                        </div>
                                    </div>
                                    <div class="item-width2">
                                        <div>
                                            {{e.basketHeader}}
                                        </div>
                                    </div>
                                </div> 
                             <div *ngFor="let object of indexRatesList" class="table-data">
                                    <div class="item-width">
                                        <div>
                                            {{object.itemName}}
                                        </div>

                                    </div>
                                    <div class="item-width2">
                                        <div>
                                            {{object.itemvalue}}%
                                        </div>
                                    </div>
                                </div> 
                            </div>


                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>