<app-iyheader></app-iyheader>
<mat-tab-group>
    <mat-tab label="Data Contributions">
        <app-iycontribution></app-iycontribution>
    </mat-tab>
    <mat-tab label="Baskets">
        <app-iybasket></app-iybasket>
    </mat-tab>
    <mat-tab label="Historical Index">
        <app-iyindexrate></app-iyindexrate>
    </mat-tab>
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
       
</mat-tab-group>

<div class="date-picker" >
    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </div>
